image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""

stages:
  - test
  - build
  - staging
  - production

# 0. Test unit Flask app
test:
  image: python:3.10
  stage: test
  script:
    - pip install -r requirements.txt
    - pip install pytest
    - pytest test_app.py
  only:
    - main

# 1. Build & Push Docker image
build:
  stage: build
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - echo "Building Docker image..."
    - docker build -t $DOCKER_USERNAME/big-star-collectibles:latest .
    - echo "Pushing Docker image..."
    - docker push $DOCKER_USERNAME/big-star-collectibles:latest
  only:
    - main
  needs:
    - test

# 2. Deploy ke EC2 via SSH (staging)
deploy_staging:
  image: alpine:latest
  stage: staging
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$STAGING_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $STAGING_EC2_HOST >> ~/.ssh/known_hosts
  script:
    - ssh ubuntu@$STAGING_EC2_HOST '
        docker pull '$DOCKER_USERNAME'/big-star-collectibles:latest &&
        docker stop bigstar || true &&
        docker rm bigstar || true &&
        docker run -d --name bigstar -p 5000:5000 '$DOCKER_USERNAME'/big-star-collectibles:latest
      '
  only:
    - main
  needs:
    - build

# 3. Deploy ke EC2 via SSH (production)
deploy_production:
  image: alpine:latest
  stage: production
  environment:
    name: production
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$PRODUCTION_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $PRODUCTION_EC2_HOST >> ~/.ssh/known_hosts
  script:
    - ssh ubuntu@$PRODUCTION_EC2_HOST '
        docker pull '$DOCKER_USERNAME'/big-star-collectibles:latest &&
        docker stop bigstar || true &&
        docker rm bigstar || true &&
        docker run -d --name bigstar -p 5000:5000 '$DOCKER_USERNAME'/big-star-collectibles:latest
      '
  only:
    - main
  when: manual
  needs:
    - build

